<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style/artist.min.css">
</head>
<body>
<div class="adsArtist"></div>
<div class="blur">
  <div id="artistDiv" class="artistDiv">
    <input id="artist" type="text" name="artist" placeholder="Enter artist name">
    <button id="artistBtn" class="sendBtn">Send</button>
      <a href="{{ url_for('main') }}"><button class="sendBtn">Back</button></a>
</div>
    </div>

<div class="animte"></div>
<div class="animate2"></div>


  <script src="/static/js/artist.js"></script>
</body>
</html>