{% extends 'extends.html' %}

{% block style %}
    <link rel="website icon" href="../static/img/logo.png">
    <link rel="stylesheet" href="/static/style/music.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block content %}
    <div class="alert">
        <div class="alert_div">
            <h1 style="color: red">Are you sure ?</h1>
            <h3 style="color: red; text-shadow: 1px 1px red">You delete this album. Are you sure ?</h3>
            <div class="alert_div_variat">
                <a href="{{ url_for('delete', playlist_id=playlist.id) }}">
                    <button id="yes">Yes</button>
                </a>
                <button id="no">No</button>

            </div>
        </div>
    </div>
    <div class="main_right">
        <div id="Openmodal" class="main_right_playlistModal">
            <div class="main_right_playlistModal_modal">
                <form class="main_right_playlistModal_modal_form" action="{{ url_for('category') }}" method="post"
                      enctype="multipart/form-data">
                <span id="closed" class="main_right_playlistModal_close"
                      style="width: 36px; height: 36px; background-image: url(/static/img/close.png); background-size: cover; position: absolute; left: 22rem; top: 3px"></span>
                    <input class="main_right_playlistModal_modal_form_inputs" type="text" placeholder="Enter category"
                           name="category">

                    <input class="main_right_playlistModal_modal_form_inputs" type="file" name="sortImg"
                           accept="multipart/form-data">

                    <button class="main_right_playlistModal_modal_form_inputs">Create</button>
                </form>
            </div>
        </div>
        <div class="main_right_nav">
            <div class="main_right_nav_buttons">
                <div class="main_right_nav_buttons_icon">
                    <div class="main_right_nav_buttons_icon_cover">
                        <button class="main_right_nav_buttons_icon_cover_img"></button>
                        <button class="main_right_nav_buttons_icon_cover_img"
                                style="background-image: url(/static/img/right-arrow.png)"></button>
                    </div>
                </div>
            </div>
            {% if current_user %}
                <div class="main_right_nav_export">
                    <div class="main_right_nav_export_cover" style="width: 161px">
                        <a href="{{ url_for('profile') }}">
                            <div class="main_right_nav_export_cover_profilePhoto"
                                 style="background-size: cover;width: 70px;height: 75px;border-radius: 50%;background-image: url({{ current_user.photo }})"></div>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="main_right_nav_export">
                    <div class="main_right_nav_export_cover">
                        <a href="{{ url_for('register') }}"><h2 class="main_right_nav_export_cover_signUp">Sign up</h2>
                        </a>
                        <a href="{{ url_for('login') }}">
                            <button class="main_right_nav_export_cover_around">
                                <h2 class="main_right_nav_export_cover_around_logIn">Log in</h2>
                            </button>
                        </a>

                    </div>
                </div>
            {% endif %}

        </div>
        <div class="main_right_playlistPlay">
            <img style="width: 200px; height: 200px; margin-top: 170px" src="{{ playlist.picture }}" alt="">
            <h1 class="playlistArticle" style="margin-left: 120px">{{ playlist.article }}</h1>
        </div>
        <div class="main_right_musicTop">
            <div class="main_right_musicTop_panel">
                <div class="main_right_musicTop_panel_buttons">
                    <img id="platMus" class="main_right_musicTop_panel_buttons_img play" style="width: 60px;height: 60px"
                         src="/static/img/mainPlay.png" alt="">
                    <h2 style="color: #411bac" id="delete" class="main_right_musicTop_panel_buttons_img">...</h2>
                    <div class="modalDelete">
                        <div id="secondEnter" class="modalDelete_equip">
                            <h4 style="color: red">Delete album</h4>
                        </div>
                        
                        <div id="addMusic" class="modalDelete_equip">
                            <h4 style="color: #53BE6B">Add music</h4>
                        </div>
                        <div id="cancel" class="modalDelete_equip">
                            <h4>Cancel</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalMusic2">
                 <span id="modalMusicClose2" class="main_right_playlistModal_close"
                       style="width: 30px; height: 30px; margin-left: 10px; background-image: url(/static/img/close.png); background-size: cover; position: absolute; left: 22rem; top: 3px"></span>
                <div class="modalMusic2_form2">
                    <div class="button-wrapper">
                          <span class="label">
                            Add audio
                          </span>
                        <input type="file" name="audio" id="uplad" class="audio" placeholder="Upload File">

                    </div>
                    <div class="button-wrapper">
                          <span class="label">
                            Add audio's image
                          </span>
                        <input type="file" name="image" id="upladd" class="image" placeholder="Upload File">

                    </div>
                    <input type="date" id="datte">
                    <input id="titlee" class="modalMusic2_form2_input2" name="title" type="text"
                           placeholder="Write audio's title">
                    <select id="artist_id" name="artist_id" class="modalMusic2_form2_input2">
                        {% for artist in artists %}
                            <option value="{{ artist.id }}">{{ artist.artist }}</option>
                        {% endfor %}
                    </select>
                    <button id="modalMusicBtn" class="modalMusic2_form2_add2">Add</button>
                </div>
            </div>
            <ul class="main_right_musicTop_musics">
                <li style="width: 50px; color: white; text-decoration: none" class="main_right_musicTop_musics_article">
                    #
                </li>
                <li style="width: 400px; color: white" class="main_right_musicTop_musics_article">name</li>
                <li style="width: 500px; color: white" class="main_right_musicTop_musics_article">album</li>
                <li style="width: 400px; color: white" class="main_right_musicTop_musics_article">date</li>
                <li style="width: 150px; color: white" class="main_right_musicTop_musics_article">sponsor</li>
            </ul>
            {% if musics %}
                <div id="musicList"></div>
            {% else %}
                <div class="empytDIv">
                    <img class="empty" src="/static/img/empty.png" alt="">
                    <h3 class="empty1">Empty! <br>If you add music click here
                    </h3>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="music-player">
        <div class="music-player_head">
            <audio id="audio" src="/static/bismark.mp3"></audio>
            <img class="music-player_head_musicImg" id="song-image" src="/static/img/simple.png" alt="Song Image">
            <div id="musicSource" class="music-player_head_source">
                <h5 class="music-player_head_source_musicName" id="song-title">Bismark</h5>

            </div>
        </div>

        <div class="music-player_button-panel">
            <div class="music-player_button-panel_button">
                <button id="prev">
                    <img id="prevBtn" src="/static/img/prev.png" alt="">
                </button>
                <button class="play" id="play">
                    <img id="platBtn" src="/static/img/mainPlay.png" alt="">
                </button>
                <button id="next">
                    <img id="nextBtn" src="/static/img/next.png" alt="">
                </button>
            </div>
            <div class="time-control">
                <p id="current-time" class="time-control_duration">0:00</p>
                <div class="lok"></div>
                <p id="total-duration" class="time-control_total">0:00</p>
            </div>
        </div>
        <div class="music-player_buttons">
            <div class="music-player_buttons_around">
                <img class="music-player_buttons_around_volume" src="/static/img/volumeOff.png" alt="">
                <input type="range" id="volume-slider" min="0" max="1" step="0.1" value="1">
                <img class="music-player_buttons_around_volume" src="/static/img/volumeOn.png" alt="">
            </div>
        </div>
    </div>

    <script src="/static/js/music.js"></script>
{% endblock %}