<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style/register.min.css">
</head>
<body>
   <div class="main">
       <img style="width: 150px; height: 150px" src="../static/img/logo.png" alt="">
       <h1 class="main_article" style="left: 7em; position: absolute;z-index: 101">Muzofy</h1>
       <form class="main_form" action="{{ url_for('register') }}" method="post" enctype="multipart/form-data">
           <h1 class="main_form_sign">Sign up</h1>
           <h3 style="color: red">{{ error }}</h3>
           <input id="file" type="file" name="photo" accept="multipart/form-data">
           <label class="avatar" for="file"><img class="avatar-img" src="/static/img/user.png" alt=""></label>
           <input class="main_form_input" type="text" placeholder="Enter gmail" name="gmail">
           <input class="main_form_input" type="text" placeholder="Enter name" name="name">
           <input class="main_form_input" type="text" placeholder="Enter username" name="username">
           <input class="main_form_input" type="password" placeholder="Enter password" name="password">
           <button class="main_form_input">Sign up</button>
           <div class="main_form_variant">
               <i class="main_form_variant_line"></i>
               <a class="main_form_variant_check" href="{{ url_for('login') }}"><h4 class="main_form_variant_portal">or Sign in</h4></a>
               <i class="main_form_variant_line"></i>
           </div>
       </form>
   </div>
</body>
</html>